html {
    background:#363636;
    color:#ffffff;
}
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%
}
.content {
  padding: 16px;
}
.upgradeYes {
	color: #00FF7E;
    background: #000000;
	font-weight: bold;
    border: 2px solid #00FF7E;
	cursor: pointer;
	width:150px;
	height:80px;
}
.alterUpYes {
	color: #00FF7E;
    background: #000000;
	font-weight: bold;
    border: 2px solid #00FF7E;
	cursor: pointer;
	width:250px;
	height:200px;
}
.mainColors {
color: #00FF7E;
    background: #000000;
	font-weight: bold;
    border: 2px solid #00FF7E;
	cursor: pointer;
}
.upgradeNo {
  background:#444444;
  color:#000000;
  border: 2px solid #888888;
  width: 150px;
  height: 80px;
}
.launchButton {
	color: #00FF7E;
    background: #000000;
	font-weight: bold;
    border: 2px solid #00FF7E;
	cursor: pointer;
	width:180px;
	height:180px;
}

.alphaTab {
	color: #6837ff;
    background: #82fffc;
	font-weight: bold;
    border: 2px solid #6837ff;
	transition-duration: 0.4s;
	cursor: pointer;
}
.alphaTab:hover {

    border: 2px solid #00ffff;
color: #82fffc;
background: #6837ff
}
.alphaLarge {
	color: #6837ff;
    background: #82fffc;
	font-weight: bold;
    border: 2px solid #6837ff;
	transition-duration: 0.4s;
	cursor: pointer;
	width:180px;
	height:180px;
}
.alphaLarge:hover {

    border: 2px solid #00ffff;
color: #82fffc;
background: #6837ff
}
.alphaUpNo {
	background:#444444;
	color:#000000;
	border: 2px solid #888888;
	width: 150px;
	height: 90px;
}
.alphaUpYes {
	color: #6837ff;
    background: #82fffc;
	font-weight: bold;
    border: 2px solid #6837ff;
	transition-duration: 0.4s;
	cursor: pointer;
	width: 150px;
	height: 80px;
}
.alphaUpYes:hover {
	border: 2px solid #00ffff;
	color: #82fffc;
	background: #6837ff;
}
.miniAlphaYes {
	width:32px;
	height:32px;
	color: #6837ff;
    background: #82fffc;
	font-weight: bold;
    border: 2px solid #6837ff;
	transition-duration: 0.4s;
	cursor: pointer;
}
.miniAlphaYes.hover {
	color: #82fffc;
	background: #6837ff;
}
.miniAlphaNo {
	width:30px;
	height:30px;
	color:#888888;
	background:#444444;
}
.miniAlphaBought {
	width:30px;
	height:30px;
	color: #82fffc;
    background: #6837ff;
	font-weight: bold;
    border: 2px solid #82fffc;
	cursor: pointer;
}
.beta {
	color: #7f3f00;
	text-shadow: 0 0 3px transparent, 0 0 6px #ffdf7f;
	background: radial-gradient(#ffbf00, #ff7f00);
	background-size: 300% 300%;
	background-position: 100% 100%;
	border: 2px solid #ffbf00;
	font-weight: bold;
	transition-duration: 0.3s;
	cursor: pointer;
}
.beta:hover {
	box-shadow: inset 0px 0px 24px 0px #ffaf00;
	border-color: #ff9000;
	color: #ffbf1f;
	text-shadow: 0 0 3px #d09000, 0 0 6px #d09000;
}